{% extends "references/base.html" %}
{% load static %}

{% block body %}
<body class="bg-background">
    
    <div class="container">
        <h1>Your references</h1>
        <div class="collection">
            {% for reference in references %}
            <li class="collection-item">
                <a class="" href="{% url 'view_reference' reference.group.pk reference.pk %}">
                    <span class="title">{{reference.bibtex_dump.0.title}}</span>
                    <a class="secondary-content" href="{% url 'view_group' reference.group.pk %}" ><i class="material-icons">group</i></a>
                </a>   
            </li>
            {% endfor %}
        </div>
        <br><a href="{% url 'logout' %}">Logout</a>
    </div>    
</body>
{% endblock %}