{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}Syncref</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet">
    <style>
        main{
            margin-top: 2rem;
        }
    </style>
</head>


<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Syncref</li>
                <ul class="menu">
                    <li><a href="{% url 'home' %}" ><i class="fi-home"></i></a></li>
                </ul>
                <li class="hide-for-large">
                    <a href="#">Group</a>
                    <ul class="menu vertical">
                        {% for group in groups %}
                        <li>
                            <a href="{% url 'view_group' group.pk %}" ><i class="fi-torsos"></i> {{ group.name }}</a>
                        </li>
                        {% endfor %}
                        <li><a href="{% url 'create_group' %}"><i class="fi-plus"></i> Create a new group</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <form action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="top-bar-right">
            <ul class="menu">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                    <li><input name="query" type="search" placeholder="Search"></li>
                    <li><button type="submit" class="button">Search</button></li>
                </ul>
            </div>
        </form>
    </div>

    <div class="grid-x">
        {% if user.is_authenticated %}
        <div class="small-2 cell show-for-large">
            <ul class="vertical menu">
                {% for group in groups %}
                <li>
                    <a href="{% url 'view_group' group.pk %}" ><i class="fi-torsos"></i> {{ group.name }}</a>
                </li>
                {% endfor %}
                <hr>               
                <li><a href="{% url 'create_group' %}"><i class="fi-plus"></i> Create a new group</a></li>
            </ul>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="cell small-12 large-10">
        {% else %}
        <div class="cell small-12">
        {% endif %}
            <main>
                <div class="grid-container">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="callout {% if message.tags %} {{ message.tags }}{% endif %}" data-closable>
                        <button class="close-button" aria-label="Close alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/js/foundation.min.js"></script>
</script>
<script>
    $(document).foundation();
</script>
{% block scripts %}
{% endblock %}

</body>


</html>
