{% extends "references/base.html" %}
{% load static %}

{% block body %}
    <h1>Create Group</h1>
    <form method="post" action="{% url 'create_group' %}">
        <div class="grid-x">
            {% csrf_token %}
            <div class="small-12 medium-6 cell">
                <input type="text" name="name" id="name" placeholder="Name"/>
            </div>
        </div>
        <div class="grid-x">
            <div class="small-12 medium-6 cell">
                <textarea name="description" id="description" placeholder="Description"></textarea>
            </div> 
        </div>
        <input type="submit" value="Submit" class="button">
    </form>
{% endblock %}