{% extends "references/base.html" %}
{% load static %}

{% block body %}
<body class="bg-background text-paragraph">
    <h1 class="text-3xl">{{group.name}}</h1><i>{{group.description}}</i><br>
    <br>
    Citations are as follows:
    <hr>
    <ul>
        {% for reference in references %}
       
        <a href="{% url 'view_reference' group.pk reference.pk %}">
            <li>{{reference.bibtex_dump.0.title}}</li>
        </a>   
        {% endfor %}
    </ul>
    <hr>
    <a href="{% url 'export' group.pk %}">Export BibTeX file</a>
    
    <hr>

Add user to the group:
<form method="post" action="{% url 'add_user_to_group' group.pk %}">
    {% csrf_token %}
    <input type="text" name="user" id="user" placeholder="Username" />
    <input type="submit" value="Submit">
</form>
<hr>
    <a href="{% url 'add' group.pk %}">Add citation</a>
<br><a href="{% url 'logout' %}">Logout</a>
</body>
{% endblock %}