{% extends "references/base.html" %}
{% load static %}

{% block body %}
<body class="bg-background text-paragraph">
    {{group.name}}
    <br>
    Citations are as follows:
    <hr>
    <ul>
        {% for reference in references %}
       
        <a href="{% url 'view_reference' group.pk reference.pk %}">
            <li>{{reference.name}}</li>
        </a>   
        {% endfor %}
    </ul>
<hr>
    <a href="{% url 'add' group.pk %}">Add citation</a>
<br><a href="{% url 'logout' %}">Logout</a>
</body>
{% endblock %}