{% extends "references/base.html" %}
{% load static %}

{% block breadcrumbs %}
{% endblock %}

{% block body %}

<div class="grid-x">
    <div class="cell small-12 medium-8 medium-offset-2 large-6 large-offset-3">
        <div class="callout">
            <div class="grid-x">
                <div class="small-12 cell">
                    <h1 class="text-center">
                        Syncref
                    </h1>
                </div>
                <div class="small-12">
                    <p class="text-center">
                        <a class="button" href="{% url 'signup' %}">Signup</a>
                        <a class="button" href="{% url 'login' %}">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

