{% extends "references/base.html" %}
{% load static %}

{% block title %}
Login -
{% endblock %}

{% block body %}
						<h3 class="pt-4 text-2xl px-8 text-headline font-bold">Login</h3>
						<form class="px-8 pt-6 pb-8 mb-4 rounded" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							{% if form.errors %}
							<p class="text-paragraph pb-4">Your username and password didn't match. Please try again.</p>
							{% endif %}
							{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
                            <div class="mb-4">
								<label class="" for="username">
									Username
								</label>
								<input
									class=""
                                    id="username"
                                    name="username"
                                    type="text"
									placeholder="Username"
                                />
							</div>
							<div class="mb-4">
								<label class="block mb-2 text-sm text-paragraph" for="password">
									Password
								</label>
								<input
									class=""
                                    id="password"
                                    name="password"
                                    type="password"
									placeholder="Password"
                                />
							</div>
							<div class="mb-6 text-center">
								<button
									class="button"
                                    type="submit"
								>
									Login
                            </button>
                            </div>
							<div class="text-center mt-20">
								<a
									class="inline-block text-sm text-button align-baseline hover:text-paragraph"
									href="{% url 'signup' %}"
								>
									Create an Account!
								</a>
							</div>
							<div class="text-center">
								<a
									class="inline-block text-sm text-button align-baseline hover:text-paragraph"
									href="./forgot-password.html"
								>
									Forgot Password?
								</a>
							</div>
						</form>
</body>
{% endblock %}